.designView {
    width: 100%;
    height: 100%;
}

.canvasArea {
    width: calc(100% - 100px);
    height: calc(100% - 60px);
    float: left;
}

.paletteArea {
    width: 100px;
    float: left;
}

.toolbarArea {
    clear: left;
    padding-top: 10px;
}
