.designView {
    width: 100%;
    height: 100%;
}

.canvasArea {
    width: calc(100% - 140px);
    height: calc(100% - 50px);
    float: left;
}

.paletteArea {
    width: 140px;
    float: left;
}

.toolbarArea {
    clear: left;
}