.service {
    width: 180px;
    border: 2px solid #bababa;
    background: rgba(255, 255, 255, 0.9);
    padding: 9px;
    border-radius: 5px;
    position: absolute;
    cursor: move;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transition: transform 0.1s ease-in-out;
}

.currentService {
    /*transform: scale(1.1);*/
    border: 2px solid #62bbff;
}

.componentList {
    margin: 10px 0 0;
    overflow: hidden;
    padding: 0;
}

.component {
    list-style: none;
    float: left;
    width: 70px;
    height: 2.9em;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background: #ebebeb;
    border-radius: 5px;
    /*opacity: 0.2;*/
}

.componentPlaceholder {
    composes: component;
    color: #b7b7b7;
    background: #fff7d7;
}

.component path {
    fill: gray;
}

.componentLabel {
    font-size: 0.7em;
    color: gray;
    height: 35px;
    overflow: hidden;
}

.empty {
    color: #b7b7b7;
    background: #eaeaea;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.currentService .empty {
    background: #fff7d7;
}

.codeEditor {
    position: absolute;
    border-radius: 5px;
    background: #1D1F21;
    padding: 5px;
}

.connector {
    width: 6px;
    height: 6px;
    background: #f3c187;
    border-radius: 50%;
    margin-left: 32px;
    margin-top: -7px;
    cursor: crosshair;
}

.serviceName {
    font-size: 0.9em;
}

.serviceName button {
    margin-top: -4px;
    margin-right: -4px;
}

.fullscreen {
    font-size: 50%;
    padding: 1px;
    margin-left: 10px;
    float: right;
}
