doctype html
//if lt IE 7
  html.no-js.ie6(lang='en')
//if IE 7
  html.no-js.ie7(lang='en')
//if IE 8
  html.no-js.ie8(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en')
    // <![endif]
    head
        meta(charset='UTF-8')
        title DoveCôte — Microservices Platform-as-a-Service
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='shortcut icon', href='favicon.png')
        // Bootstrap 3.3.2
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/css/animate.css')
        link(rel='stylesheet', href='assets/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/css/slick.css')
        link(rel='stylesheet', href='assets/js/rs-plugin/css/settings.css')
        link(rel='stylesheet', href='assets/css/styles.css')
        script(type='text/javascript', src='assets/js/modernizr.custom.32033.js')
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        .pre-loader
            .load-con
                img.animated.fadeInDown(src='assets/img/logo.png', alt='')
                .spinner
                    .bounce1
                    .bounce2
                    .bounce3
        header
            nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                .container
                    // Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.fa.fa-bars.fa-lg
                    // Collect the nav links, forms, and other content for toggling
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='#about') about
                            li
                                a(href='#features') features
                            li
                                a(href='#team') team
                            li
                                a(href='/login') sign in
                            li
                                a(href='#support') support
                    // /.navbar-collapse
                // /.container
            // RevSlider
            .tp-banner-container
                .tp-banner
                    ul
                        // SLIDE 2
                        li(data-transition='zoomout', data-slotamount='7', data-masterspeed='1000')
                            // MAIN IMAGE
                            img(src='assets/img/transparent.png', alt='slidebg1', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
                            // LAYERS
                            // LAYER NR. 1
                            .tp-caption.lfb.fadeout.hidden-xs.call-to-action(data-x='center', data-y='bottom', data-hoffset='0', data-voffset='0', data-speed='1000', data-start='1400', data-easing='Power4.easeOut')
                                .btn
                                    a(href='/login') Sign in
                                .btn
                                    a(href='/register?anonymous') Demo — Instant Access
                            .tp-caption.large_white_light.sft(data-x='center', data-y='200', data-hoffset='0', data-voffset='0', data-speed='1000', data-start='700', data-easing='Power4.easeOut')
                                div(style='height: 150px')
                                    a.navbar-brand(href='index.html')
                                        img.logo(src='assets/img/logo.png', alt='')
                                .typing
                                    span.punchLine
                                    span.punchLineStrings
                                        p
                                            | Build and Ship with <strong>Microservices</strong>
                                        p
                                            | Build and Ship with <strong>Scalability</strong>
                                        p
                                            | Build and Ship with <strong>Availability</strong>
                                        p
                                            | Build and Ship with all the <i class="fa fa-heart"> </i>
        .wrapper
            section#about
                .container
                    .section-heading.scrollpoint.sp-effect3
                        h1
                            | DoveCôte.
                            br
                            | Microservices-as-a-Solution.
                        .divider
                        p The Platform for building distributed and scalable applications
                    .row
                        .col-md-3.col-sm-3.col-xs-6
                            .about-item.scrollpoint.sp-effect2
                                i.fa.fa-paper-plane.fa-2x
                                h3 Effortless Design
                                p
                                    | Build your microservices architecture with no effort and zero configuration. DoveCôte lets you design your services with a visual editor, link them together and code in a simple to use interface.
                        .col-md-3.col-sm-3.col-xs-6
                            .about-item.scrollpoint.sp-effect5
                                i.fa.fa-gears.fa-2x
                                h3 Zero Configuration
                                p
                                    | Worrying about orchestration, service discovery and registry is a thing of the past. DoveCôte handles every single bit of configuration for you.
                        .col-md-3.col-sm-3.col-xs-6
                            .about-item.scrollpoint.sp-effect5
                                i.fa.fa-cloud.fa-2x
                                h3 Serverless Deployment
                                p
                                    | DoveCôte runs your services on its own infrastructure, so that you don't have to keep a horde of servers. With its inherently scalable architecture, you can rest assured your application will scale effortlessly.
                        .col-md-3.col-sm-3.col-xs-6
                            .about-item.scrollpoint.sp-effect1
                                i.fa.fa-sliders.fa-2x
                                h3 Monitoring & Scaling
                                p
                                    | Monitor the connections between your services and your service discovery in real time. Get instant metrics on resource usage and scale individual services with one click.
            section#features
                .container
                    .section-heading.scrollpoint.sp-effect3
                        h1 Why DoveCôte?
                        .divider
                        p
                            | Microservices revolution is taking the world by storm.
                            br
                            |                     Here are 10 benefits of building microservices in the cloud, with DoveCôte.
                    .row
                        .col-md-4.col-sm-4.scrollpoint.sp-effect1
                            .media.text-right.feature
                                a.pull-right(href='#')
                                    i.fa.fa-cogs.fa-2x
                                .media-body
                                    h3.media-heading Just Works — Zero configuration
                                    |                                 Write individual services, connect them together and it "just works".
                            .media.text-right.feature
                                a.pull-right(href='#')
                                    i.fa.fa-rocket.fa-2x
                                .media-body
                                    h3.media-heading The Docker way
                                    |                                 Your services run in isolated containers for maximum isolation and scalability.
                            .media.text-right.feature
                                a.pull-right(href='#')
                                    i.fa.fa-users.fa-2x
                                .media-body
                                    h3.media-heading Ease of development
                                    |                                 Different teams can work on different services simultaneously.
                            .media.text-right.feature
                                a.pull-right(href='#')
                                    i.fa.fa-area-chart.fa-2x
                                .media-body
                                    h3.media-heading Monitoring out of the box
                                    |                                 Monitor your entire services network for immediate inspection.
                            .media.text-right.feature
                                a.pull-right(href='#')
                                    i.fa.fa-industry.fa-2x
                                .media-body
                                    h3.media-heading Highly available
                                    |                                 High availability is built right in.
                        .col-md-4.col-sm-4
                            img.img-responsive.scrollpoint.sp-effect5(src='assets/img/freeze/o.png', alt='')
                        .col-md-4.col-sm-4.scrollpoint.sp-effect2
                            .media.feature
                                a.pull-left(href='#')
                                    i.fa.fa-life-ring.fa-2x
                                .media-body
                                    h3.media-heading Fault-tolerant by design
                                    |                                 Never lose a message in transit again.
                            .media.feature
                                a.pull-left(href='#')
                                    i.fa.fa-star.fa-2x
                                .media-body
                                    h3.media-heading Built on Node.js
                                    |                                 Services are built in a stateful manner for maximum efficiency.
                            .media.feature
                                a.pull-left(href='#')
                                    i.fa.fa-hand-pointer-o.fa-2x
                                .media-body
                                    h3.media-heading Single-click deployment
                                    |                                 Never worry about launching servers again.
                            .media.feature
                                a.pull-left(href='#')
                                    i.fa.fa-heartbeat.fa-2x
                                .media-body
                                    h3.media-heading Real-time services
                                    |                                 Built on WebSockets, access your services from any application in real-time.
                            .media.active.feature
                                a.pull-left(href='#')
                                    i.fa.fa-plus.fa-2x
                                .media-body
                                    h3.media-heading And much more!
                                    |                                 Moving infrastructure out of the way, earning you precious time for your creativity.
            section#team
                .container
                    .section-heading.inverse.scrollpoint.sp-effect3
                        h1 Team
                        .divider
                        p There's a passionate, devoted group of engineers behind DoveCôte
                    .row
                        .col-md-10.col-md-push-1.scrollpoint.sp-effect3
                            .review-filtering
                                .review.rollitin
                                    .row
                                        .col-md-2
                                            .review-person
                                                img.img-responsive(src='https://en.gravatar.com/userimage/22275400/5114838da5a1d98ed78ceff32bd862d6.jpeg?size=380', alt='')
                                        .col-md-10
                                            .review-comment
                                                h3 Armagan Amcalar
                                                p
                                                    | A software architect based in Berlin, Armagan works as the Head of Software Engineering at unu GmbH. He is the architect and product designer behind DoveCôte.
                                .review.rollitin
                                    .row
                                        .col-md-2
                                            .review-person
                                                img.img-responsive(src='https://en.gravatar.com/userimage/41345204/d218ae67390815caab98c49d488fc7bb.jpg?size=380', alt='')
                                        .col-md-10
                                            .review-comment
                                                h3 Deniz Gurkaynak
                                                p
                                                    | Deniz is a passionate software engineer. He is responsible for translating user code into real, runnable microservices!
                                .review
                                    .row
                                        .col-md-2
                                            .review-person
                                                img.img-responsive(src='https://secure.gravatar.com/avatar/e70aa173a95f239ee3aa4768b441cb83.jpg?s=380&r=g&d=mm', alt='')
                                        .col-md-10
                                            .review-comment
                                                h3 Fatih Erikli
                                                p
                                                    | Fatih is a Python and JavaScript developer who loves building things for developers. Currently works at Adphorus. Fatih is responsible for the beautiful app designer.
                                .review.rollitin
                                    .row
                                        .col-md-2
                                            .review-person
                                                img.img-responsive(src='http://en.gravatar.com/userimage/1608446/4b13e32514e29bccf36cfb440575eeb2.jpg?size=380', alt='')
                                        .col-md-10
                                            .review-comment
                                                h3 Mert Dogar
                                                p
                                                    | Mert Dogar (dogar) is an electronics engineer who likes building stuff. He is the man behind the DoveCôte infrastructure.
                                .review.rollitin
                                    .row
                                        .col-md-2
                                            .review-person
                                                img.img-responsive(src='https://avatars2.githubusercontent.com/u/94374?v=3&s=400', alt='')
                                        .col-md-10
                                            .review-comment
                                                h3 Ustun Ozgur
                                                p
                                                    | Ustun is a software engineer and the founder of Ustun Ozgur Software. He is responsible for the front-end application.
            section#demo
                .container
                    .section-heading.scrollpoint.sp-effect3
                        h1 Demo
                        .divider
                        p Take a closer look in more detail
                    .row
                        .col-md-8.col-md-offset-2.scrollpoint.sp-effect2
                            .video-container
                                iframe(src='http://player.vimeo.com/video/156228277')
            section#getApp
                .container-fluid
                    .section-heading.inverse.scrollpoint.sp-effect3
                        h1
                            | Register to take full advantage of
                            br
                            | the microservices revolution.
                        .divider
                        p Register now and get started!
                    .row
                        .col-md-12
                            .platforms
                                .btn
                                    a(href='/login') sign in
                                .btn
                                    a(href='/register') register
            section#support.doublediagonal
                .container
                    .section-heading.scrollpoint.sp-effect3
                        h1 Support
                        .divider
                        p
                            | For more info and support, contact us via
                            br
                            a.scrollpoint.sp-effect3(href='https://twitter.com/DoveCote_PaaS')
                                i.fa.fa-twitter.fa-lg
                                | DoveCote_PaaS
                            | ,
                            br
                            |  or join our &nbsp;
                            a.scrollpoint.sp-effect3(href='https://slack.dove-cote.co')
                                i.fa.fa-slack.fa-lg
                                |  slack community
                            | !
            footer
                .container
                    a.scrollpoint.sp-effect3(href='#')
                        img.logo(src='assets/img/logo.png', alt='')
                    p.footprint
                        | DoveCote is built as an entrant for&nbsp;
                        a(href='https://koding.com/Hackathon') Koding 2016 Hackathon.
                    .rights
                        p Copyright © 2016
        script(src='assets/js/jquery-1.11.1.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/slick.min.js')
        script(src='assets/js/placeholdem.min.js')
        script(src='assets/js/rs-plugin/js/jquery.themepunch.plugins.min.js')
        script(src='assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js')
        script(src='assets/js/waypoints.min.js')
        script(src='assets/js/scripts.js')
        script(src='assets/js/typed.min.js')
        script.
            $(document).ready(function() {
                appMaster.preLoader();
            });
